[Desktop Entry]
Type=Application
Exec=/media/sonichy/job/HY/Linux/Qt/MoveTo/MoveTo cut %u
Icon=edit-cut
Name=移动到
X-DFM-MenuTypes=SingleFile;SingleDir;MultiFileDirs;
